header{
    background-color: #A52F2A;
    .imagen{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        transform: scale(110%);
        border-style:solid ;
        margin-top: 0.9%;
        margin-bottom: 2%;
    }
}